		<div class="col-sm-3 col-md-2 sidebar">
          <p>Update Library</p>
          <ul class="nav nav-sidebar">
            <li><a href="/Library/admin/addBook.jsp">Add a Book</a></li>
            <li><a href="#">Edit a Book</a></li>
            <li><a href="/Library/admin/deleteBooks.jsp">Delete a Book</a></li>
          </ul>
          <p>Issue/Return</p>
          <ul class="nav nav-sidebar">
            <li><a href="http://localhost:8090/Library/admin/issueBook.jsp">Issue</a></li>
            <li><a href="/Library/admin/returnBook.jsp">Return</a></li>
          </ul>
          <p>Records</p>
          <ul class="nav nav-sidebar">
            <li><a href="/Library/IssuedBooks">View Issued Books</a></li>
            <li><a href="/Library/admin/allBooks.jsp">All Books</a></li>
            <li><a href="/Library/admin/history.jsp">Issuing History</a></li>
          </ul>
        </div>