		<div class="col-sm-3 col-md-2 sidebar">
          <p>Menu</p>
          <ul class="nav nav-sidebar">
          	<li><a href="userHome.jsp">Dashboard</a></li>
            <li><a href="myHistory.jsp">My History</a></li>
            <li><a href="#">All Books</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>